<div class="modal fade" id="modal-edit-{{ movie.id }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-label">Edit Movie</h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>                
            </div>
            <div class="modal-body">
                <form action="{% url 'edit' movie_id=movie.id %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ movie.form.name.label }}">{{ movie.form.name.label }}</label>
                        {{ movie.form.name.errors }}
                        {{ movie.form.name }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.url.id_for_label }}">{{ movie.form.url.label }}</label>
                        {{ movie.form.url.errors }}
                        {{ movie.form.url }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.rating.id_for_label }}">{{ movie.form.rating.label }}</label>
                        {{ movie.form.rating.errors }}
                        {{ movie.form.rating }}
                    </div>

                    <div class="form-group">
                        <label for="{{ form.notes.id_for_label }}">{{ movie.form.notes.label }}</label>
                        {{ movie.form.notes.errors }}
                        {{ movie.form.notes }}
                    </div>

                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>